<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centered Button</title>
    <link rel="stylesheet" href="logout.css">
</head>
<body>
  
    <div class="container">
       
  
    <form action="/home" method="post">   

<h1 style="text-align: start; color: white;">Welcome {{username}}</h1>
      <button class="center-button" type="submit">Log out</button> </form>

      <a href="/new">click here</a>
    </div>

</body>
</html>

